
<div class="jumbotron center-text">


  <h2> Contribute </h2>


  <div class="contrib-submission">

  <div class="notes-icon-size">
    <%= image_tag 'transparent_notes.png', :class => "dev-icon" %>
  </div>

  <h4>You know of a theme that has not been added yet and want to see it ingame? <br>
    Are there any quizz questions you can think of that could be added to the game? <br>
    Then feel free to make a new submission it's easy and every help is appreciated: </h4>


  <%= link_to "New Submission", :new_theme, :class => "btn btn-success", :style => "margin-top: 15px" %>
</div>





<div class="dev-icon-size" >
  <%= image_tag 'dev_icon.svg', :class => "dev-icon" %>
</div>

<h4> You have an idea on how to improve the site and want to help developing it? <br>
 Or maybe you found a bug and want to report it? <br>
 Then checkout my github repo and submit a pull request: </h4>

<div class="git-icon">
  <%= link_to image_tag('github.png', :class => "dev-icon"), "https://github.com/n3phos/guess" %>
 </div>


</div>






