<div class="col-md-5 chat-container" >

  <div style="position:absolute">
    <%= swf_tag("chat.swf", :width => 0, 
                :height => 0,
                :id => "my_flash",
                :alt => "",
                :div_id => "flashDiv",
                :parameters => { :allowScriptAccess => "always", :scale => "noScale"},
                :callback => "load_callback") %>

  <div id="flashDiv"></div>
</div>

  <div class="row full-chat" >
    <div class="col-md-4 chat-divider chat-window" >
      <div class="user-container user-list-wrapper">
        <div id="users-wrapper">
          <%-# render :partial => 'shared/chat_users', locals: { room: @room } %>
        </div>
      </div>
      <div class="row room-controls">
        <%= button_to "leave","javascript:chat.leave('chatcontrols')" , :class => "btn btn-primary" %>
      </div>
    </div>

    <div class="col-md-8 chat-window">

      <div class="chat-header">
        <h4> <%= @room.name %> </h4>
      </div>

      <div id="table-wrapper" class="message-display-box">
        <%-# image_tag('loading-chat.gif', { :class => "img-real-center", :id => "chat-loader" } ) %>
        <table id="chatWrapper">
        </table>
      </div>

      <div id="message-container" class="chat-input">
        <textarea id="usermsg" placeholder="Eine Nachricht senden" type="text" class="text-input"></textarea>

        <button onclick='chat.submit_msg()' class="btn btn-primary btn-sm" style="float:right"> chat </button>

      </div>


    </div>
  </div>
</div>



