
<div id="chat-wrapper" class="row">



  <div class="col-md-3 user-container" >

    <%= render 'shared/chat_users' %>

  </div>

  <div class="col-md-9 message-display-box">

    nephos: hello world

  </div>

  <div id="message-container">

  </div>

</div>

