
  <div class="col-md-5 chat-container" >

  <% content_for :chat do %>
    <%= swf_tag("chat.swf", :width => 0, :height => 0, :id => "my_flash", :div_id => "flashDiv", :parameters => { :allowScriptAccess => "always", :scale => "noScale"}, :callback => "load_callback") %>
  <% end %>

  <div id="flashDiv"></div>



  <div class="row chat-display">



    <div class="col-md-4 user-container" >
      <%= render :partial => 'shared/chat_users', locals: { room: @room } %>
    </div>

    <div id="table-wrapper" class="col-md-8 message-display-box">
      <table id="chatWrapper">

      </table>
    </div>
  </div>


  <div class="row chat-input">


    <% if true %>

    <div class="col-md-4"  >

      <%= button_to "leave", '/home' , :class => "btn btn-primary", :method => :get  %>
      <button onclick="irc_names()" value="names" > </button>

    </div>

    <div id="message-container" class="col-md-8">
      <textarea id="usermsg" rows="4" cols="30" style="width: 300px;" type="text"> </textarea>
    </div>

  <% end %>

  </div>


</div>



