
<div class="col-md-6 game-box">


  <div class="row">


    <div class="col-md-8 game-section ">

      <div id="player"></div>

      <div id="playerb"> </div>

      <div class="match">
        <h2 id="match-lookup-name">
        </h2>
        <span id="match-answer" style="display:none">
        </span>
      </div>

      <div class="image-display" >
       <img id="media-img" src="" class="img-center" />
      </div>

       <img id="record-player" src="#" class="img-center" />

    </div>

    <div class="col-md-4 game-section">
    </div>
  </div>

</div>




