<div class="row " >

  <div class="col-md-12 game-box">

    <div id="player"></div>

    <div id="playerb"> </div>



  </div>

  <%= form_for(game, url: update_room_game_path(room, game), method: :patch) do |f| %>
    <%= f.submit "Update game" %>
  <% end %>



</div>
