
<div class="col-md-7">

  <div class="row game-padding">

    <div class="game-box">

      <div id="game-wrapper" >
        <div class="absolute-center loading-container" >
          <%= image_tag('loading-game.gif', :class => "load-gif") %>
          Loading chat...
        </div>
      </div>

    </div>
  </div>
</div>
