
<div class="col-md-7">

  <div class="row game-padding">

    <div class="game-box">

      <div id="game-wrapper" >
        <%= image_tag('loading-game.gif', class: "img-real-center" ) %>
      </div>

    </div>
  </div>
</div>
