<div id="create-game" class="game-options" >
  <div style="padding:20px" >

      <%= button_tag "New Game", :type => "button", :id => "new-game", :class => "btn btn-primary start-btn"  %>
      <%= button_tag "Movie", :type => "button", :id => "btn-movie", :class => "btn btn-success" %>
      <%= button_tag "Series", :type => "button", :id => "btn-series", :class => "btn btn-info" %>
      <%= button_tag "Game", :type => "button", :id => "btn-game", :class => "btn btn-danger" %>

  </div>
</div>

<script>

  $('#btn-movie').click("Movie", game.set_category);
  $('#btn-series').click("Series", game.set_category);
  $('#btn-game').click("Game", game.set_category);

  $('#new-game').click(game.categories, $.proxy(game.new, game));

</script>

