


      <div class="absolute-center game-options" >
        <div style="padding:35px" >
          <%= button_to "Start Game", :create_room_game, :form => { :id => "start-game" }, :class => "btn btn-primary ", :remote => true %>
        </div>
      </div>


