
<h1 style="margin-bottom: 30px;"> Rooms </h1>

<p> Lobby is the only available room at the moment <p>

<div class="row">


  <div class="col-md-2">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Join</th>
      </tr>
    </thead>
    <tbody>
      <tr>
      <% @rooms.each do |r| %>
        <td> <%= r.name %> </td>
        <td> <%= link_to "Join", join_room_path(r.name), class: "btn btn-success", :method => :get %></td>
      <% end %>
      </tr>
    </tbody>
  </table>


</div>


</div>

<%= image_tag "speech117.png", style: "display:block; margin:auto; opacity: 0.3; width: 300px" %>

