
<div id="room-wrapper" >


  <div class="room-container row">

    <div id="chat-wrapper" >
      <%= render 'shared/chat' %>
    </div>

    <div id="game-wrapper" >
      <%= render 'shared/new_game' %>
    </div>

  </div>

</div>
