
@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  padding-top: 5px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.absolute-center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;

}

.margin-center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.game-options {
  height: 150px;
  width: 30%;
}

.game-history {
  margin-top: 200px;
  height: 280px;
  font-size: 2;
  text-align: center;
  overflow: auto;
}

.record-history {
  margin-top: 5px;
  padding-top: 5px;
}

.bordered {
  border-top: 1px solid #eaeaea;
}

.game-results {

  height: 100px;
}

.center h1 {
  margin-bottom: 10px;
}

.center-text {
  text-align: center
} 

.home-btn {
  margin-top: 10px;
}

footer {
  margin-top: 45px;
  margin-bottom: 50px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

.match {
  height: 50px;
  text-align: center;
}

.image-display {
  margin-top: 20px;
}

.img-center {
  display: block;
  width: auto;
  margin: auto;
}


footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

footer {
  small {
    float:left;
  }
}

@mixin chat-border {
  border: 1px solid #eaeaea;
}

.chat-container {
  height: 500px;

}

.chat-input {
  height: 100px;
}

.user-container {
  @include chat-border;
  height: 100%;
}

.message-display-box {
  @include chat-border;
  height: 100%;
  overflow: auto;

}

.game-section {
  @include chat-border;
  height: 600px;
}

.chat-display {
  height: 500px;
}

.room-container {
  @include chat-border;
  height: 600px;
}

.game-box {
  height: 600px;
  @include chat-border;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
