
@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  padding-top: 5px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

footer {
  margin-top: 45px;
  margin-bottom: 50px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}


footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

footer {
  small {
    float:left;
  }
}

@mixin chat-border {
  border: 1px solid #eaeaea;
}

.user-container {
  @include chat-border;
  height: 200px;
}

.message-display-box {
  @include chat-border;
  height: 200px;
  overflow: auto;

}

.game-box {
  height: 200px;
  @include chat-border;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
