
<header class="navbar ">
  <div >
    <nav>
      <ul class="nav navbar-nav ">
        <li><%= link_to "home", :home %></li>
        <li><%= link_to "lobby", join_room_url("lobby") %></li>
        <li><%= link_to "themes", :themes %></li>
        <li><%= link_to "contribute", :contribute %></li>
      </ul>
    </nav>
  </div>
</header>
