
<header class="navbar ">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav ">
        <li><%= link_to "home", :home %></li>
        <li><%= link_to "lobby", '#' %></li>
        <li><%= link_to "themes", :new_theme %></li>
        <li><%= link_to "help", '#' %></li>
      </ul>
    </nav>
  </div>
</header>
